.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-img {
    height: 40px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: linear-gradient(90deg, var(--violet-clair), var(--magenta));
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
